body {
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', system-ui, 'Roboto', 'Helvetica Neue', sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 24px;
    max-width: 700px;
}

blockquote {
    box-shadow: inset 4px 0 whitesmoke;
    margin: 1em 0;
    padding-left: 1em;
    font-style: italic;
}

button {
    height: 56px;
    padding: 0 36px;
    margin: 0 16px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #ffdd2d;
    color: #333;
}

pre {
    border-radius: 4px;
    border: 1px solid #e7e8ea;
    padding: 12px 16px;
}

.flex {
    display: flex;
}

.hljs-tag {
    background: transparent;
}
