<input
    #input
    class="input"
    readonly
    placeholder="Select value"
    [value]="value"
    (click)="onClick()"
    (keydown.arrowDown.prevent)="onInputArrowDown()"
/>
<div *ngIf="open" class="dropdown" (mouseleave)="input.focus()">
    <div
        *ngFor="let item of items; let index = index"
        #option
        class="option"
        tabindex="-1"
        (mousemove.silent)="onMouseMove(option)"
        (keydown.arrowDown.silent.prevent)="onArrowDown(index, items.length)"
        (keydown.arrowUp.silent.prevent)="onArrowUp(index)"
        (click)="onSelect(item)"
    >
        {{item}}
    </div>
</div>
